@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #F5F5F5;
	color: #67727A;
	font-family: "Alegreya", sans-serif;
	margin: 0;
}

h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	color: #F5F5F5;
}

h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
	color: #F5F5F5;
}

p {
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
	color: #F5F5F5;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
}

header {
	background-color: #6991AC;
	width: 100%;
	height: 86px;
}

#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}

#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(img/RD.png) no-repeat center;
}

nav {
	float: right;
	padding: 25px 20px 0 0;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}

nav ul li {
	font-size: 150%;
	padding: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #F5F5F5;
}

nav ul li a:hover {
	text-decoration: none;
	color: #C3D7DF;
}

.current {
	color: #C3D7DF;
}

.banner {
	width: 100%;
	background-color: #6991AC;
}

.banner-inner {
	max-width: 1100px;
	margin: 0 auto;
}

.one-fourth-sections {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.one-fourth-sections section {
	flex-basis: 25%;
	text-align: center;
}

.one-fourth-sections section i {
	color: #F0F0F0;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

#html {
	background-color: #F1AA90;
}

#css {
	background-color: #BEB9AD;
}

#seo {
	background-color: #AADCD2;
}

#social {
	background-color: #A2B2C1;
}

.inner-wrapper {
	width: 100%;
	background-color: #C3D7DF;
	display: flex;
	flex-direction: row;
}

.inner-wrapper aside, article {
	flex-basis: 50%;
}

#tablet-text {
	background-color: #A2B2C1;
}

#mobile-text {
	background-color: #BEB9AD;
}

#desktop-text {
	background-color: #F1AA90;
}

.inner-wrapper-2 {
	background-color: #AADCD2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.inner-wrapper-2 section {
	flex-basis: 33.33%;
	text-align: center;
}

#google {
	background-color: #A2B1C1;
}

#marketing {
	background-color: #BEB9AD;
}

#customers {
	background-color: #AADCD2;
}

#smiley {
	background-color: #AADCD2;
	padding: 0 0 1% 0;
}

footer {
	background-color: #6991AC;
	width: 100%;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5%;
}

.social i {
	font-size: 460%;
	color: #C3D7DF;
}

.social i:hover {
	color: #F5F5F5;
}

footer.copyright {
	border-top: 1px solid #AADCD2;
	background-color: #544B59;
	max-height: 60px;
	padding: 1%;
	box-sizing: border-box;
}

footer.copyright p {
	text-align: center;
	padding: 6px 0;
}


/* Media queries starting for responsiveness */

@media screen and (max-width: 768px) {
	h2 {
		font-size: 150%;
	}
	
	h3 {
		font-size: 125%;
	}
	
	p {
		font-size: 120%;
	}
	
	#logo {
		margin: 15px 0 20px -25px;
		background: url(img/RD_mobile.png) no-repeat center;
	}
	
	#menu-icon {
		display: block;
	}
	
	nav ul, nav:active ul {
		display: none;
		z-index: 1000;
		position: absolute;
		padding: 20px;
		background-color: #6991AC;
		right: 20px;
		top: 60px;
		flex-direction: column;
		border: 1px solid #FFFFFF;
		border-radius: 4px 0 4px 4px;
		width: 50%;
	}
	
	nav:hover ul {
		display: block;
	}
	
	nav li {
		text-align: center;
	}
	
	.one-fourth-sections {
		flex-direction: column;
	}

	.one-fourth-sections section {
		width: 100%;
	}
	
	.one-fourth-sections section i {
		font-size: 350%;
		padding: 4% 0 1% 0;
	}
	
	.inner-wrapper {
		flex-direction: column;
	}
	
	.inner-wrapper:nth-of-type(3) {
		flex-direction: column-reverse;
	}
	
	.inner-wrapper-2 {
		flex-direction: column;
	}

	.social i {
		font-size: 280%;
	}
}

